/* NAVBAR */
.navbar {
    // background-color: $primary-background;
    width: 100%;
    height: 80px;
    padding: 0 4rem;
    padding-top: 2rem;
}

.navlist {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
}

.navitem {
    padding: 1rem;
    list-style: none;
}

.navlink {
    @include text;
    margin: 0;
    text-decoration: none;
    transition: color 0.2s ease-out;
    &:hover {
        color: darken($primary-light, 10%);
    }
}

/* LOGO */
$logo-scale: 2;

.logo {
    fill: $primary-light;
    width: 108px * $logo-scale;
    height: 20px * $logo-scale;
    &:hover {
        fill: $secondary-dark;
    }
}
